 * {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 	font-size: 62.5%;
 	font-family: "Inter", sans-serif;
 }
 aside{
	position: fixed;
	width: 250px;
	height: 100%;
	top: 0;
	left: 0;
	padding: 10px 14px;
 }