header {
	padding: 20px 70px;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	z-index: 10;

}

header .nav-mobile {
	display: none;
}

.nav_mobile-fixed {
	display: none;
}

header .logo {
	text-decoration: none;
	color: black;
	display: flex;
	align-items: center;
	column-gap: 5px;
}

header .logo>div {
	width: 60px;
	height: 60px;
}

header .logo>div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

header .logo>p {
	font-size: 2.5rem;
	font-weight: 600;
}

header>ul {
	display: flex;
	list-style-type: none;
	align-items: center;
}

header>ul li {
	margin-left: 30px;

}

header>ul li:not(:last-of-type) a {
	font-size: 1.7rem;
	text-decoration: none;
	color: rgb(18, 18, 18);
	position: relative;
}

header>ul li:not(:last-of-type) a::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: rgb(105, 137, 254);
	left: 0;
	bottom: -20%;
	transform: scale(0);
	border-radius: 4px;
	transition: .2s ease-in-out;

}

header>ul li:not(:last-of-type) a:hover::after {
	transform: scale(1);
}

header>ul li a.primary_nav {
	color: rgb(82, 120, 255);
}

header>ul li.sign_in a {
	background-color: rgb(82, 120, 255);
	color: white;
	padding: 10px 14px;
	border-radius: 24px;
	font-size: 1.8rem;
	text-decoration: none;
}

/* Handle responsive tablet 768px */
@media (max-width:768px) {
	header {
		padding: 20px 10px;
	}

	header .logo>div {
		height: 50px;
		width: 50px;
	}

	header .logo>p {
		font-size: 2.0rem;
		font-weight: 600;
	}

	header>ul li {
		margin-left: 20px;
	}

	header>ul li:not(:last-of-type) a {
		font-size: 1.6rem;
	}

	header>ul li.sign_in a {
		font-size: 1.6rem;
	}

}

/* /////////////////////////////// */
/* Handle responsive iphone 600px */
@media (max-width:600px) {
	header {
		padding: 20px 30px 20px 10px;
	}

	header ul {
		display: none;
	}

	header .nav-mobile {
		display: block;
	}

	header .nav-mobile i {
		font-size: 2.8rem;
	}

	.nav_mobile-fixed {
		background-color: white;
		position: fixed;
		z-index: 100;
		width: 100%;
		padding: 20px 10px;
		box-shadow: 0 0 12px 2px rgb(224, 224, 224);
		display: block;
		top: -100%;
		height: auto;
		opacity: 0;
	}

	.nav_mobile-fixed .header_moblie {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 20px;
	}

	.nav_mobile-fixed .header_moblie .logo>div {
		width: 50px;
		height: 50px;
	}

	.nav_mobile-fixed .header_moblie i {
		font-size: 3.0rem;
	}

	.nav_mobile-fixed .header_moblie .logo {
		display: flex;
		align-items: center;
		column-gap: 5px;
	}

	.nav_mobile-fixed .header_moblie .logo p {
		font-size: 2.0rem;
		font-weight: 600;
	}

	.nav_mobile-fixed .header_moblie .logo>div img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.nav_mobile-fixed .line {
		height: 2px;
		width: 100%;
		background-color: rgb(209, 209, 209);
		margin: 20px 0;
		border-radius: 5px;
	}

	.nav_mobile-fixed ul {
		list-style-type: none;
	}

	.nav_mobile-fixed ul li {
		margin-bottom: 20px;
	}

	.nav_mobile-fixed ul li a {
		text-decoration: none;
		color: black;
		font-size: 2.0rem;
		transition: .3s ease-in-out;

		&:hover {
			padding-left: 10px;
		}
	}

	.nav_mobile-fixed ul li a.primary_nav {
		color: rgb(82, 120, 255);
	}
}

/* /////////////////////////////// */