:root {
	--white-color: white;
	--mark-color: #695CFE;
	--body-color: #E4E9F7;
	--sidebar-color: #FFF;
	--primary-color: #695CFE;
	--primary-color-light: #F6F5FF;
	--toggle-color: #DDD;
	--text-color: #707070;
	--black-color: black;
	--cancel-color: #F63939;
	--font-size-12: 1.2rem;
	--font-size-14: 1.4rem;
	--font-size-16: 1.6rem;
	--font-size-18: 1.8rem;
	--font-size-20: 2.0rem;
	--font-size-22: 2.2rem;
	--font-size-30: 3.0rem;
	--font-size-40: 4.0rem;
	--tran-01: all .1s ease;
	--tran-02: all .2s ease;
	--tran-03: all .3s ease;
	--tran-04: all .4s ease;
	--tran-05: all .5s ease;
}


body.dark {
	--white-color: white;
	--mark-color: #7265ff;
	--black-color: white;
	--body-color: #18191A;
	--sidebar-color: #242526;
	--primary-color: #3A3B3C;
	--primary-color-light: #3A3B3C;
	--toggle-color: #FFF;
	--text-color: #CCC;
}

body {
	height: 100vh;
	background-color: var(--body-color);
	transition: var(--tran-05);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: "Inter", sans-serif;
}

aside {
	position: fixed;
	width: 260px;
	height: 100%;
	top: 0;
	left: 0;
	padding: 10px 14px;
	background-color: var(--sidebar-color);
	transition: var(--tran-05);
}

aside.close {
	width: 88px;
}

aside .menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100% - 50px);
}

aside header {
	display: flex;
	align-items: center;
	position: relative;
}

aside header .logo {
	height: 50px;
	min-width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--tran-02);
}

aside.close header .logo {
	opacity: 0;
}

aside header .logo img {
	width: 40px;
}

aside header .title {
	font-size: var(--font-size-22);
	font-weight: 500;
	white-space: nowrap;
	transition: var(--tran-02);
	color: var(--black-color);
}

aside.close header .title {
	opacity: 0;
}

aside header .toggle {
	height: 50px;
	width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

aside header .toggle i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0px;
	font-size: var(--font-size-40);
	margin-bottom: -2px;
	color: var(--black-color);
	transition: var(--tran-03);
	cursor: pointer;

}

aside.close header .toggle i {
	right: 9px;
}

aside header .toggle i.open {
	opacity: 0;
}

aside.close .toggle i.open {
	opacity: 1;
}

aside.close .toggle i.close {
	opacity: 0;
}

aside li {
	list-style-type: none;
	height: 50px;
	width: 100%;
	display: flex;
	margin-bottom: 15px;
	transition: var(--tran-03);
	border-radius: 6px;
	overflow: hidden;
	cursor: pointer;
}

aside ul li:hover .icon,
aside ul li:hover span {
	color: var(--sidebar-color);
	background-color: var(--primary-color);
}

body.dark aside ul li:hover .icon,
body.dark aside ul li:hover span {
	color: var(--toggle-color);
}

aside ul li.mark,
aside ul li.mark span,
aside ul li.mark .icon {
	color: var(--white-color);
	background-color: var(--primary-color);
}

aside li .icon {
	height: 50px;
	min-width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--font-size-40);
	color: var(--text-color);
	transition: var(--tran-03);
}

aside li.search-box {
	background-color: var(--primary-color-light);
	transition: var(--tran-02);
}

aside li.search-box input {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: var(--font-size-18);
	background-color: transparent;
	color: var(--black-color);
}


aside li.search-box input::-webkit-input-placeholder {
	font-size: var(--font-size-16);
}

aside li span {
	width: 100%;
	font-size: var(--font-size-16);
	line-height: 50px;
	color: var(--text-color);
	transition: var(--tran-03);

	&:hover {
		color: var(--sidebar-color);
	}
}

aside.close li span {
	opacity: 0;
}

aside .menu-tab {
	margin-top: 25px;
}

aside .information .profile {
	background-color: var(--primary-color-light);
	height: 60px;
	display: flex;
	border-radius: 6px;
	transition: var(--tran-02);

}

aside .information .profile .user_image {
	height: 100%;
	min-width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 8px;
}

aside .information .profile .user_image img {
	width: 100%;
	height: 100%;
	border-radius: 6px;
}

aside .information .profile .infor {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

aside .information .profile .infor span {
	font-size: var(--font-size-14);
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: var(--tran-03);
	-webkit-user-select: none;
	user-select: none;
}

aside .information .profile .infor .name {
	font-weight: 500;
	font-size: var(--font-size-16);
	color: var(--black-color);
}

aside.close .information .profile .infor .name,
aside.close .information .profile .infor .major {
	opacity: 0;
}

aside .information .profile .infor .major {
	color: var(--text-color);
}

aside.close .information .profile .logout {
	opacity: 0;
}

aside .information .profile .logout {
	min-width: 60px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--tran-02);
}

aside .information .profile .logout i {
	font-size: var(--font-size-30);
	color: var(--cancel-color);
	cursor: pointer;
}

aside .information .mode-switch {
	position: relative;
	display: flex;
	height: 60px;
	background-color: var(--primary-color-light);
	margin-bottom: 10px;
	border-radius: 6px;
	transition: var(--tran-02);
}

aside .information .mode-switch .moon-sun {
	position: relative;
	min-width: 60px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--font-size-40);
}

aside .information .mode-switch .moon-sun .sun {
	opacity: 0;
}

body.dark aside .information .mode-switch .moon-sun .sun {
	opacity: 1;
}

body.dark aside .information .mode-switch .moon-sun .moon {
	opacity: 0;
}

aside .information .mode-switch .moon-sun i {
	position: absolute;
	color: var(--text-color);
	transition: var(--tran-02);
}

aside.close .information .mode-switch .type,
aside.close .information .mode-switch .moon-sun i {
	opacity: 0;
}

aside .information .mode-switch .type {
	line-height: 60px;
	font-size: var(--font-size-16);
	color: var(--text-color);
	transition: var(--tran-02);
}

aside .information .mode-switch .wrapper_mode-switch {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	height: 25px;
	min-width: 50px;
	background-color: var(--toggle-color);
	border-radius: 15px;
	cursor: pointer;
	transition: var(--tran-02);
}

aside.close .information .mode-switch .wrapper_mode-switch {
	right: 5px;
}

aside .information .mode-switch .wrapper_mode-switch .switch {
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);
	background-color: var(--sidebar-color);
	height: 15px;
	width: 15px;
	border-radius: 50%;
	transition: var(--tran-03);
}

body.dark aside .information .mode-switch .wrapper_mode-switch .switch {
	left: 75%;

}

section {
	width: calc(100% - 260px);
	position: relative;
	top: 0;
	left: 260px;
	transition: var(--tran-05);
	height: 100%;
}

aside.close+section {
	width: calc(100% - 88px);
	left: 88px;
}

/* /////////////////////////////////////////////// */
.expand {
	padding: 40px;
	overflow-x: hidden;
	overflow-y: auto;
}

.expand::-webkit-scrollbar {
	width: 7px;
}

.expand::-webkit-scrollbar-thumb {
	background-color: var(--text-color);
	border-radius: 6px;
}

.expand .tab,
.expand .tab.courses .show--more-courses,
.expand .tab.courses .detail-course,
.expand .tab.courses .quizz {
	display: none;
}

.expand .courses .course-container {
	width: 100%;
	background-color: var(--primary-color-light);
	padding: 25px;
	border-radius: 8px;
	transition: var(--tran-03);
}

.expand .courses .handle--course {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}

.expand .courses .course-container .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;

}

.expand .courses .course-container .top p {
	font-size: var(--font-size-16);
	font-weight: 600;
	transition: var(--tran-03);
}

.expand .courses .course-container .top p.course-name {
	color: var(--black-color);
}

.expand .courses .course-container .top p.show--more {
	color: var(--mark-color);
	cursor: pointer;
}

.expand .courses .course-container .bottom {
	display: flex;
	overflow-x: auto;
	column-gap: 12px;
	padding-bottom: 20px;
	transition: var(--tran-03);
}

.expand .courses .course-container .bottom::-webkit-scrollbar {
	height: 7px;
	transition: var(--tran-03);
}

.expand .courses .course-container .bottom::-webkit-scrollbar-track {
	border-radius: 6px;
}

.expand .courses .course-container .bottom::-webkit-scrollbar-track:hover {
	background-color: #bababa;
}

.expand .courses .course-container .bottom::-webkit-scrollbar-thumb {
	background-color: var(--text-color);
	border-radius: 6px;
}

.expand .courses .course-container .bottom .item {
	width: 350px;
	border-radius: 12px;
	overflow: hidden;
	border: 1px solid rgb(221, 221, 221);
	flex-shrink: 0;
}

.expand .courses .show--more-courses .block {
	height: 100%;
	overflow: hidden;
}

.expand .courses .show--more-courses .bottom {
	width: 100%;
	background-color: var(--primary-color-light);
	padding: 40px 20px 120px;
	border-radius: 8px;
	transition: var(--tran-03);
	height: 100%;
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 20px;
}

.expand .courses .show--more-courses .bottom::-webkit-scrollbar {
	width: 7px;
}

.expand .courses .show--more-courses .bottom::-webkit-scrollbar-thumb {
	background-color: var(--text-color);
	border-radius: 6px;
}

.expand .courses .show--more-courses .bottom .item {
	width: 350px;
	border-radius: 12px;
	overflow: hidden;
	border: 1px solid rgb(221, 221, 221);
	transition: var(--tran-03);
}

.expand .courses .course-container .bottom .item .wrapper-image,
.expand .courses .show--more-courses .bottom .item .wrapper-image {
	width: 100%;
	height: 230px;
	border-bottom: 1px solid rgb(221, 221, 221);
}

.expand .courses .course-container .bottom .item .wrapper-image img,
.expand .courses .show--more-courses .bottom .item .wrapper-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.expand .courses .course-container .bottom .item .content,
.expand .courses .show--more-courses .bottom .item .content {
	padding: 15px;
	background-color: var(--sidebar-color);
	transition: var(--tran-03);
}

.expand .courses .course-container .bottom .item .content .subject_name,
.expand .courses .show--more-courses .bottom .item .content .subject_name {
	font-size: var(--font-size-16);
	font-weight: 500;
	color: var(--black-color);
	transition: var(--tran-03);
	cursor: default;
	overflow: hidden;
	height: 25px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.expand .courses .course-container .bottom .item .content .infor-lecturer,
.expand .courses .show--more-courses .bottom .item .content .infor-lecturer {
	display: flex;
	align-items: center;
	column-gap: 10px;
	margin: 12px 0;
}

.expand .courses .course-container .bottom .item .content .infor-lecturer .profile-image,
.expand .courses .show--more-courses .bottom .item .content .infor-lecturer .profile-image {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	overflow: hidden;
}

.expand .courses .course-container .bottom .item .content .infor-lecturer .profile-image img,
.expand .courses .show--more-courses .bottom .item .content .infor-lecturer .profile-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.expand .courses .course-container .bottom .item .content .infor-lecturer .lecturer_username,
.expand .courses .show--more-courses .bottom .item .content .infor-lecturer .lecturer_username {
	font-size: var(--font-size-14);
	color: var(--black-color);
	transition: var(--tran-03);
	cursor: default;

}

.expand .courses .course-container .bottom .item .content .create_at,
.expand .courses .show--more-courses .bottom .item .content .create_at {
	display: flex;
	align-items: center;
	column-gap: 5px;
	font-size: var(--font-size-14);
	cursor: default;
	color: var(--black-color);
	transition: var(--tran-03);
}

.expand .courses .course-container .bottom .item .content .create_at i,
.expand .courses .show--more-courses .bottom .item .content .create_at i {
	font-size: var(--font-size-18);
}

.expand .courses .course-container .bottom .item .content .wrapper-icon,
.expand .courses .show--more-courses .bottom .item .content .wrapper-icon {
	display: flex;
	margin: 8px 0 12px 0;
	column-gap: 12px;
	color: var(--black-color);
	transition: var(--tran-03);
}

.expand .courses .course-container .bottom .item .content .wrapper-icon span,
.expand .courses .show--more-courses .bottom .item .content .wrapper-icon span {
	display: flex;
	align-items: center;
	column-gap: 4px;
	font-size: var(--font-size-14);
	cursor: default;
}

.expand .courses .course-container .bottom .item .content .wrapper-icon span i,
.expand .courses .show--more-courses .bottom .item .content .wrapper-icon span i {
	font-size: var(--font-size-18);
}

.expand .courses .course-container .bottom .item .content .wrapper-icon span i.questions,
.expand .courses .show--more-courses .bottom .item .content .wrapper-icon span i.questions,
.expand .courses .detail-course .wrapper .detail-subject .wrapper-icon span i.questions {
	color: rgb(250, 189, 76);
}

.expand .courses .course-container .bottom .item .content .wrapper-icon span i.book,
.expand .courses .show--more-courses .bottom .item .content .wrapper-icon span i.book,
.expand .courses .detail-course .wrapper .detail-subject .wrapper-icon span i.book {
	color: rgb(29, 188, 39);
}

.expand .courses .course-container .bottom .item .content .start,
.expand .courses .show--more-courses .bottom .item .content .start,
.expand .courses .detail-course .wrapper .detail-subject .start {
	display: inline-flex;
	align-items: center;
	column-gap: 4px;
	font-size: var(--font-size-14);
	padding: 6px 8px;
	background-color: var(--primary-color);
	color: var(--white-color);
	cursor: pointer;
	transition: var(--tran-03);
	border-radius: 3px;
}
.expand .courses .detail-course .wrapper .detail-subject .show-ranking{
	display: inline-flex;
	align-items: center;
	column-gap: 4px;
	font-size: var(--font-size-14);
	padding: 6px 8px;
	background-color: var(--primary-color);
	color: var(--white-color);
	cursor: pointer;
	transition: var(--tran-03);
	border-radius: 3px;
	margin-left: 10px;
}
.expand .courses .course-container .bottom .item .content .start i,
.expand .courses .show--more-courses .bottom .item .content .start i,
.expand .courses .detail-course .wrapper .detail-subject .start i,
.expand .courses .detail-course .wrapper .detail-subject .show-ranking i {
	font-size: var(--font-size-18);
}

.expand .tab.courses .show--more-courses {
	width: 100%;
	height: 89vh;
	background-color: var(--primary-color-light);
	border-radius: 6px;
	overflow: auto;
	transition: var(--tran-03);
}

.expand .tab.courses .show--more-courses .top {
	height: 80px;
	border-bottom: 1px solid rgb(221, 221, 221);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px;
	background-color: var(--white-color);
}

.expand .tab.courses .show--more-courses .top .wrapper {
	display: flex;
	align-items: center;
	column-gap: 40px;
}

.expand .tab.courses .show--more-courses .top .wrapper .turn-back {
	font-size: var(--font-size-18);
	color: var(--black-color);
	transition: var(--tran-03);
	cursor: pointer;
}

.expand .tab.courses .show--more-courses .top .wrapper .search .input-box {
	display: flex;
	align-items: center;
	column-gap: 20px;
}

.expand .tab.courses .show--more-courses .top .wrapper .search .input-box .message {
	font-size: var(--font-size-16);
	color: rgb(250, 67, 67);
	opacity: 0;
	transition: var(--tran-03);
	cursor: default;
}

.expand .tab.courses .show--more-courses .top .wrapper .search .input-box.error .message {
	opacity: 1;
}

.expand .tab.courses .show--more-courses .top .wrapper .search .input-box input {
	height: 40px;
	color: var(--black-color);
	font-size: var(--font-size-14);
	border: 1px solid var(--black-color);
	transition: var(--tran-03);
	background-color: transparent;
	outline: none;
	border-radius: 4px;
	padding: 0 15px 0 5px;
	width: 260px;
}

.expand .tab.courses .show--more-courses .top .pagination {
	display: flex;
	align-items: center;
	column-gap: 20px;
}

.expand .tab.courses .show--more-courses .top .pagination .current-position {
	font-size: var(--font-size-16);
	color: var(--black-color);
	transition: var(--tran-03);
}

.expand .tab.courses .show--more-courses .top .pagination .control {
	display: flex;
	align-items: center;
}

.expand .tab.courses .show--more-courses .top .pagination .control .icon i {
	font-size: var(--font-size-22);
}

.expand .courses .detail-course .wrapper {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	color: var(--black-color);
	transition: var(--tran-03);
	column-gap: 40px;
	row-gap: 20px;
}

.expand .courses .detail-course .wrapper .detail-subject {
	grid-column: 1/3;
	background-color: var(--sidebar-color);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 12px 1px rgb(188, 188, 188);
	transition: var(--tran-03);
}

.expand .courses .detail-course .wrapper .detail-subject .infor-detail {
	font-size: var(--font-size-16);
	font-weight: 600;
	margin-bottom: 20px;
}

.expand .courses .detail-course .wrapper .detail-subject .wrapper-image {
	width: 70%;
	height: 250px;
	margin: 0 auto 20px;
	border-radius: 4px;
	overflow: hidden;
}

.expand .courses .detail-course .wrapper .detail-subject .wrapper-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.expand .courses .detail-course .wrapper .detail-subject .subject_name {
	font-size: var(--font-size-16);
	font-weight: 500;
}

.expand .courses .detail-course .wrapper .detail-subject .description {
	font-size: var(--font-size-14);
	color: var(--text-color);
	margin: 15px 0;
	transition: var(--tran-03);
	height: 51px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.expand .courses .detail-course .wrapper .detail-subject .infor-lecturer {
	display: flex;
	align-items: center;
	column-gap: 5px;
}

.expand .courses .detail-course .wrapper .detail-subject .infor-lecturer .profile-image {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	overflow: hidden;
}

.expand .courses .detail-course .wrapper .detail-subject .infor-lecturer .profile-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.expand .courses .detail-course .wrapper .detail-subject .infor-lecturer .lecturer_username {
	font-size: var(--font-size-14);
}

.expand .courses .detail-course .wrapper .detail-subject .create_at {
	font-size: var(--font-size-14);
	display: flex;
	align-items: center;
	margin: 10px 0;
	column-gap: 5px;
}

.expand .courses .detail-course .wrapper .detail-subject .create_at i {
	font-size: var(--font-size-18);
}

.expand .courses .detail-course .wrapper .detail-subject .wrapper-icon {
	display: flex;
	align-items: center;
	column-gap: 12px;
}

.expand .courses .detail-course .wrapper .detail-subject .wrapper-icon span {
	display: flex;
	align-items: center;
	column-gap: 5px;
	font-size: var(--font-size-14);
}

.expand .courses .detail-course .wrapper .detail-subject .wrapper-icon span i {
	font-size: var(--font-size-18);
}

.expand .courses .detail-course .wrapper .detail-subject .start {
	margin-top: 10px;
}

.expand .courses .detail-course .wrapper .turn-back {
	grid-column: 1/6;
	background-color: var(--sidebar-color);
	transition: var(--tran-03);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 12px 1px rgb(188, 188, 188);
}

.expand .courses .detail-course .wrapper .turn-back p {
	font-size: var(--font-size-18);
	font-weight: 500;
	cursor: pointer;
}

.expand .courses .detail-course .wrapper .comment {
	grid-column: 3/6;
	grid-row: 2/3;
	background-color: var(--sidebar-color);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 12px 1px rgb(188, 188, 188);
	transition: var(--tran-03);
}

.expand .courses .comment .english-intro,
.expand .courses .comment .english-history,
.expand .courses .comment.english-benefits {
	margin-bottom: 20px;
}

.expand .courses .comment .english-intro h2 {
	font-size: var(--font-size-22);
	font-weight: 600;
	color: var(--black-color);
	margin-bottom: 20px;
	transition: var(--tran-03);

}

.expand .courses .comment .english-intro p,
.expand .courses .comment .english-history p {
	font-size: var(--font-size-16);
	line-height: 1.5;
	color: var(--text-color);
	transition: var(--tran-03);

}

.expand .courses .comment .english-history h3,
.expand .courses .comment .english-benefits h3 {
	font-size: var(--font-size-22);
	font-weight: 600;
	color: var(--black-color);
	margin-bottom: 20px;
	transition: var(--tran-03);

}

.english-benefits ul {
	list-style-type: disc;
	padding-left: 20px;
	color: var(--text-color);
}

.english-benefits li {
	font-size: var(--font-size-14);
	margin-bottom: 10px;
	transition: var(--tran-03);

}

.popup-choose-quizz {
	position: fixed;
	backdrop-filter: blur(5px);
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	transform: scale(0);
	transition: var(--tran-03);
}

.popup-choose-quizz.active {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

.popup-choose-quizz .wrapper {
	background-color: var(--sidebar-color);
	width: 600px;
	padding: 40px;
	border-radius: 16px;
	box-shadow: 0 0 12px 2px rgb(227, 227, 227);
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	column-gap: 33px;
}

.popup-choose-quizz .wrapper .icon {
	grid-column: 1/2;
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup-choose-quizz .wrapper .content {
	grid-column: 2/6;
}

.popup-choose-quizz .wrapper .content h1 {
	background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: var(--font-size-22);
	user-select: none;
	-webkit-user-select: none;
}

.popup-choose-quizz .wrapper .content .description {
	font-size: var(--font-size-16);
	color: var(--text-color);
	margin: 8px 0 15px 0;
}

.popup-choose-quizz .wrapper .content .show-screen {
	position: relative;
	display: inline-block;
}

.popup-choose-quizz .wrapper .content .show-screen ul {
	position: absolute;
	left: 0;
	top: calc(100% + 5px);
	list-style: none;
	background-color: var(--sidebar-color);
	box-shadow: 0 0 12px 2px rgb(227, 227, 227);
	border-radius: 4px;
	overflow: hidden;
	width: 100%;
	max-height: 120px;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: var(--tran-03);
}

.popup-choose-quizz .wrapper .content .show-screen ul.active {
	opacity: 1;
	visibility: visible;
}

.popup-choose-quizz .wrapper .content .show-screen ul::-webkit-scrollbar {
	width: 7px;
}

.popup-choose-quizz .wrapper .content .show-screen ul::-webkit-scrollbar-thumb {
	background-color: var(--text-color);
	border-radius: 6px;
}

.popup-choose-quizz .wrapper .content .show-screen ul li {
	font-size: var(--font-size-14);
	padding: 12px 16px;
	cursor: pointer;
	transition: var(--tran-03);
	color: var(--black-color);

	&:hover {
		background-color: var(--primary-color);
		color: var(--white-color);
	}
}

.popup-choose-quizz .wrapper .content .show-screen .confirm {
	display: inline-block;
	margin-left: 10px;
	font-size: var(--font-size-14);
	padding: 10px 12px;
	background-color: var(--mark-color);
	color: white;
	transition: var(--tran-03);
	border-radius: 3px;
	cursor: pointer;

	&:hover {
		transform: scale(1.05);
	}
}

.popup-choose-quizz .wrapper .content .show-screen .screen {
	padding: 10px 12px;
	border: 1px solid rgb(212, 212, 212);
	display: inline-block;
	font-size: var(--font-size-14);
	border-radius: 3px;
	cursor: pointer;
	color: var(--black-color);
	transition: var(--tran-03);
}

.popup-choose-quizz .wrapper .select-quizz .input-box .message {
	font-size: var(--font-size-14);
	margin-top: 5px;
	opacity: 0;
	visibility: hidden;
	color: rgb(231, 54, 54);
	transition: var(--tran-03);
}

.popup-choose-quizz .wrapper .select-quizz .input-box.error .message {
	opacity: 1;
	visibility: visible;
}

.expand .courses .start-education {
	display: grid;
	grid-template-columns: repeat(2, .7fr) repeat(3, 1fr) repeat(2, .7fr);
	column-gap: 20px;
}

.expand .courses .start-education .progress,
.expand .courses .start-education .question,
.expand .courses .start-education .list-question {
	background-color: var(--sidebar-color);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 12px 1px rgb(227, 227, 227);
	transition: var(--tran-05);
}

.expand .courses .start-education .progress {
	grid-column: 1/3;
}

.expand .courses .start-education .question {
	grid-column: 3/6;
	grid-row: 1/3;
}

.expand .courses .start-education .list-question {
	grid-column: 6/8;
}

.expand .courses .start-education .progress .name-quizz {
	font-size: var(--font-size-16);
	font-weight: 700;
	margin-bottom: 10px;
	transition: var(--tran-03);
	color: var(--black-color);
}

.expand .courses .start-education .progress .info-lecturer {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.expand .courses .start-education .progress .info-lecturer .wrapper-image {
	height: 30px;
	width: 30px;
	overflow: hidden;
	border-radius: 50%;
}

.expand .courses .start-education .progress .info-lecturer .wrapper-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.expand .courses .start-education .progress .info-lecturer .name-lecturer {
	font-size: var(--font-size-14);
	color: var(--text-color);
	transition: var(--tran-03);
}

.expand .courses .start-education .line {
	height: 3px;
	width: 100%;
	background-color: rgb(223, 223, 223);
	transition: var(--tran-03);
	border-radius: 12px;
	margin: 15px 0;
}

.expand .courses .start-education .progress .quiz_progress {
	position: relative;
	height: 220px;
	width: 100%;

}

.expand .courses .start-education .progress .quiz_progress svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-90deg);
	width: 100%;
	height: 180px;
	pointer-events: none;
}

.expand .courses .start-education .progress .quiz_progress svg circle {
	transform: translate(50%, 50%);
	fill: none;
	stroke: var(--primary-color-light);
	stroke-width: 17px;
	stroke-linecap: round;
	transition: var(--tran-03);
}

#progress {
	stroke: var(--mark-color);
	stroke-dasharray: 0px 9999px;
	transition: .5s linear;
}

#progress_text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: var(--font-size-20);
	font-weight: bold;
	color: var(--mark-color);
}

.expand .courses .start-education .turn-back {
	font-size: var(--font-size-16);
	background-color: var(--mark-color);
	transition: var(--tran-03);
	cursor: pointer;
	padding: 8px 10px;
	display: inline-block;
	color: white;
	border-radius: 4px;
	opacity: 0;
	transform: scale(0);
	transition: var(--tran-03);
}

.expand .courses .start-education .turn-back.active {
	opacity: 1;
	transform: scale(1);
}

.expand .courses .start-education .end-quizz {
	font-size: var(--font-size-16);
	background-color: var(--mark-color);
	transition: var(--tran-03);
	cursor: pointer;
	padding: 8px 10px;
	display: inline-block;
	color: white;
	border-radius: 4px;
}

.expand .courses .start-education .question .total-question {
	font-size: var(--font-size-16);
	color: var(--black-color);
	font-weight: 600;
}

.expand .courses .start-education .question .name-question {
	font-size: var(--font-size-16);
	color: var(--black-color);
	margin: 10px 0;
	height: 50px;
}

.expand .courses .start-education .question ul {
	margin: 25px 0;
	list-style: none;
}

.expand .courses .start-education .question ul li {
	padding: 14px 20px;
	font-size: var(--font-size-16);
	border: 1px solid rgb(225, 225, 225);
	margin-bottom: 15px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	column-gap: 4px;
	color: var(--black-color);
	transition: var(--tran-04);
	cursor: pointer;
	font-weight: 500;
}

.expand .courses .start-education .question ul li.active {
	background-color: var(--mark-color);
	color: var(--white-color);
	border: 1px solid var(--mark-color);
}

.expand .courses .start-education .question ul li.active span {
	color: var(--white-color);
}

.expand .courses .start-education .question ul li.incorrect {
	background-color: rgb(248, 49, 49);
	color: var(--white-color);
	border: 1px solid rgb(248, 49, 49);
}

.expand .courses .start-education .question ul li.incorrect span {
	color: var(--white-color);
}

.expand .courses .start-education .question ul li span {
	font-size: var(--font-size-16);
	color: var(--black-color);
	transition: var(--tran-03);
}

.expand .courses .start-education .question .wrapper-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.expand .courses .start-education .question .wrapper-button button {
	padding: 10px 16px;
	border-radius: 4px;
	background-color: var(--mark-color);
	color: var(--white-color);
	font-size: var(--font-size-14);
	outline: none;
	border: none;
	display: flex;
	align-items: center;
	column-gap: 5px;
}

.expand .courses .start-education .question .wrapper-button button i {
	font-size: var(--font-size-20);
}

.expand .courses .start-education .list-question h1 {
	font-size: var(--font-size-16);
	color: var(--black-color);
	transition: var(--tran-03);
	font-weight: 600;
}

.expand .courses .start-education .list-question ul {
	list-style: none;
}

.expand .courses .start-education .list-question ul li {
	padding: 6px 12px;
	border: 2px solid rgb(217, 217, 217);
	display: inline-block;
	font-size: var(--font-size-16);
	margin: 0 12px 8px 0;
	border-radius: 4px;
	color: var(--black-color);
	transition: var(--tran-04);
	cursor: pointer;
}

.expand .courses .start-education .list-question ul li.selected {
	border: 2px solid var(--mark-color);
}

.expand .courses .start-education .list-question ul li.active {
	background-color: var(--mark-color);
	color: var(--white-color);
	border: 2px solid var(--mark-color);
}

.expand .courses .start-education .list-question ul li.incorrect {
	background-color: rgb(248, 49, 49);
	color: white;
	border: 2px solid rgb(248, 49, 49);
}

.expand .result.tab .infor-quizz-done {
	max-height: 89vh;
	overflow: hidden;
}

.expand .result.tab .infor-quizz-done .wrapper {
	background-color: var(--sidebar-color);
	transition: var(--tran-03);
	padding: 20px;
	border-radius: 8px;
	height: 100%;
}

.expand .result.tab .infor-quizz-done .wrapper .wrapper-info {
	height: 100%;
}

.expand .result.tab .infor-quizz-done .wrapper .wrapper-info header {
	border-bottom: 1px solid var(--black-color);
	transition: var(--tran-03);
	padding-bottom: 15px;
}

.expand .result.tab .infor-quizz-done .wrapper .wrapper-info header h1 {
	font-size: var(--font-size-22);
	color: var(--black-color);
	transition: var(--tran-03);
}

.expand .result.tab .infor-quizz-done .wrapper .wrapper-info header .title {
	margin-top: 10px;
	display: grid;
	grid-template-columns: repeat(1, 2fr) repeat(1, 1fr) repeat(5, 1fr) repeat(1, 2fr);
	column-gap: 20px;
}

.expand .result.tab .infor-quizz-done .wrapper .wrapper-info header .title p {
	font-size: var(--font-size-16);
	transition: var(--tran-03);
	color: var(--black-color);
	font-weight: 600;
	overflow: hidden;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.expand .result.tab .infor-quizz-done .wrapper .wrapper-info .content {
	margin-top: 20px;
	display: grid;
	row-gap: 30px;
	height: 100%;
	overflow: auto;
}

.expand .result.tab .infor-quizz-done .wrapper .wrapper-info .content::-webkit-scrollbar {
	width: 7px;
}

.expand .result.tab .infor-quizz-done .wrapper .wrapper-info .content::-webkit-scrollbar-thumb {
	background-color: var(--text-color);
	border-radius: 6px;
}

.expand .result.tab .infor-quizz-done .wrapper .wrapper-info .content .item {
	display: grid;
	grid-template-columns: repeat(1, 2fr) repeat(1, 1fr) repeat(5, 1fr) repeat(1, 2fr);
	column-gap: 20px;
	place-items: center center;
}

.expand .result.tab .infor-quizz-done .wrapper .wrapper-info .content .item p:not(:first-child) {
	font-size: var(--font-size-16);
	transition: var(--tran-03);
	color: var(--black-color);
	font-weight: 400;
	overflow: hidden;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
}

.expand .result.tab .infor-quizz-done .wrapper .wrapper-info .content .item p.bad {
	color: white;
	background-color: rgb(241, 48, 48);
	padding: 8px 12px;
	border-radius: 4px;
	display: inline-block;
	text-align: center;
}

.expand .result.tab .infor-quizz-done .wrapper .wrapper-info .content .item p.excelent {
	color: white;
	background-color: var(--mark-color);
	padding: 8px 12px;
	border-radius: 4px;
	display: inline-block;
	text-align: center;
}
.expand .result.tab .infor-quizz-done .wrapper .wrapper-info .content .item p.subject_name{
	max-height: 80px;
	font-size: var(--font-size-16);
	transition: var(--tran-03);
	color: var(--black-color);
	font-weight: 400;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.expand .rank.tab .wrapper {
	display: grid;
	column-gap: 40px;
	grid-template-columns: .7fr 1fr;
}

.expand .rank.tab .wrapper h1 {
	font-size: var(--font-size-18);
	font-weight: 600;
	padding: 20px;
	color: var(--black-color);
	transition: var(--tran-03);
}

.expand .rank.tab .wrapper .col-left,
.expand .rank.tab .wrapper .col-right {
	background-color: var(--sidebar-color);
	transition: var(--tran-03);
	border-radius: 12px;
	overflow: hidden;
}

.expand .rank.tab .wrapper .col-left {
	grid-row: 1/3;
}

.expand .rank.tab .wrapper .col-right {
	grid-row: 1/2;
}

.expand .rank.tab .wrapper .col-left .content .item,
.expand .rank.tab .wrapper .col-right .content .item {
	border-bottom: 1px solid rgb(215, 215, 215);
	padding: 10px 20px;
	display: grid;
	column-gap: 14px;
	transition: var(--tran-03);
	grid-template-columns: auto 1fr;
}

.expand .rank.tab .wrapper .col-left .content .item .wrapper-image {
	height: 70px;
	width: 70px;
	overflow: hidden;
	border-radius: 50%;
}

.expand .rank.tab .wrapper .col-right .content .item .wrapper-image {
	height: 120px;
	width: 150px;
	overflow: hidden;
	border-radius: 8px;
}

.expand .rank.tab .wrapper .col-left .content .item .wrapper-image img,
.expand .rank.tab .wrapper .col-right .content .item .wrapper-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.expand .rank.tab .wrapper .col-left .content .item .info,
.expand .rank.tab .wrapper .col-right .content .item .info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 7px;
}

.expand .rank.tab .wrapper .col-left .content .item .info .username,
.expand .rank.tab .wrapper .col-right .content .item .info .subject {
	font-size: var(--font-size-16);
	color: var(--black-color);
	transition: var(--tran-03);
}

.expand .rank.tab .wrapper .col-right .content .item .info .subject {
	height: 35px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-weight: 500;
}

.expand .rank.tab .wrapper .col-right .content .item .infor-lecturer {
	display: flex;
	align-items: center;
	column-gap: 4px;
}

.expand .rank.tab .wrapper .col-right .content .item .infor-lecturer .wrapper-lecturer {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	overflow: hidden;
}

.expand .rank.tab .wrapper .col-right .content .item .infor-lecturer .wrapper-lecturer img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.expand .rank.tab .wrapper .col-right .content .item .infor-lecturer .username {
	font-size: var(--font-size-14);
	color: var(--black-color);
	transition: var(--tran-03);
}

.expand .rank.tab .wrapper .col-left .content .item .info .count,
.expand .rank.tab .wrapper .col-right .content .item .info .count {
	display: flex;
	align-items: center;
	column-gap: 4px;
}

.expand .rank.tab .wrapper .col-left .content .item .info .count span,
.expand .rank.tab .wrapper .col-right .content .item .info .count span {
	font-size: var(--font-size-16);
	color: var(--text-color);
	transition: var(--tran-03);
}

.expand .rank.tab .wrapper .col-left .content .item .info .count i,
.expand .rank.tab .wrapper .col-right .content .item .info .count i {
	font-size: var(--font-size-18);
	transition: var(--tran-03);
	color: var(--black-color);
}
.expand .rank.tab .wrapper .col-left .content .item .info .count i.top{
	color: rgb(255,219,112);
}
.expand .rank.tab .wrapper .col-left .content .item .info .count i.second{
	color: rgb(156,143,154);
}
.expand .rank.tab .wrapper .col-left .content .item .info .count i.third{
	color: rgb(255,160,72);
}
.expand .tab.profile .profile-card{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	background-color: var(--sidebar-color);
	border: 1px solid #eee;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 5px 10px 2px rgba(0,0,0,.1);
	transition: var(--tran-03);
}
.expand .tab.profile .profile-card .avatar{
	padding: 20px 0px 10px;
}
.expand .tab.profile .profile-card .avatar img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.expand .tab.profile .profile-card .profile-type{
	position: absolute;
	top: 15px;
	left: 15px;
	background-color: #888;
	color: var(--white-color);
	padding: 5px 8px;
	border-radius: 5px;
	font-size: var(--font-size-14);
	font-weight: 600;
	transition: var(--tran-03);
}
.expand .tab.profile .profile-card .details{
	padding: 10px 30px;
}
.expand .tab.profile .profile-card .details h1{
	font-size: var(--font-size-22);
	color: var(--black-color);
	margin-bottom: 5px;
	transition: var(--tran-03);
}
.expand .tab.profile .profile-card .details h2{
	font-size: var(--font-size-18);
	margin-bottom: 12px;
	color: var(--text-color);
	transition: var(--tran-03);
}
.expand .tab.profile .profile-card .numbers{
	padding: 15px 40px;
	display: flex;
	justify-content: space-around;

}
.expand .tab.profile .profile-card .numbers p{
	font-size: var(--font-size-14);
	margin-bottom: 2px;
	color: var(--text-color);
	transition: var(--tran-03);
}
.expand .tab.profile .profile-card .numbers h2{
	font-size: var(--font-size-18);
	color: var(--black-color);
	transition: var(--tran-03);
}
.expand .tab.profile .profile-card .btns{
	padding: 10px 30px 25px;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.expand .tab.profile .profile-card .btns button{
	flex: 1;
	padding: 10px 20px;
	cursor: pointer;
	outline: none;
	font-size: var(--font-size-16);
	font-weight: 600;
	border-radius: 5px;
}
.expand .tab.profile .profile-card .btns button.outline{
	border: 1px solid var(--black-color);
	color: var(--black-color);
	background-color: transparent;
	transition: var(--tran-03);
}
.expand .tab.profile .profile-card .btns button.fill{
	background-color: #111;
	color: var(--white-color);
	border: none;
	transition: var(--tran-03);
}
.popup-change-password{
	position: fixed;
	inset: 0;
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
	opacity: 0;
	transition: var(--tran-03);
}
.popup-change-password.active{
	transform: scale(1);
	opacity: 1;
}
.popup-change-password .wrapper{
	background-color: var(--sidebar-color);
	width: 420px;
	border-radius: 10px;
	border: 1px solid rgb(218, 216, 218);
	padding: 20px;
}
.popup-change-password .wrapper h1{
	font-size: var(--font-size-22);
	text-align: center;
	margin-bottom: 10px;
	color: var(--black-color);
	font-weight: 600;
}
.popup-change-password .wrapper p:not(.message){
	text-align: center;
	padding: 10px 20px;
	background-color: rgba(70, 150, 235, 0.178);
	color: var(--mark-color);
	font-size: var(--font-size-16);
	margin-bottom: 20px;
	border-radius: 4px;
	font-weight: 500;
}
.popup-change-password .wrapper .input-box{
	margin-bottom: 30px;
}
.popup-change-password .wrapper .input-box .message{
	opacity: 0;
	font-size: var(--font-size-14);
	visibility: hidden;
	margin-top: 4px;
	transition: var(--tran-03);
	font-weight: 500;
}
.popup-change-password .wrapper .input-box.error .message{
	opacity: 1;
	visibility: visible;
	color: rgb(237, 44, 44);
}
.popup-change-password .wrapper .input-box input{
	width: 100%;
	height: 40px;
	border: 2px solid var(--black-color);
	border-radius: 4px;
	font-size: var(--font-size-16);
	font-weight: 500;
	padding: 0 15px 0 5px;
	outline: none;
	transition: var(--tran-01);
}
.popup-change-password .wrapper .input-box input:focus{
	border: 2px solid var(--primary-color);
}
.popup-change-password .wrapper input[type="submit"]{
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	border-radius: 4px;
	background-color: var(--primary-color);
	color: var(--white-color);
	font-size: var(--font-size-16);
	transition: var(--tran-03);
	cursor: pointer;
	&:hover{
		transform: scale(1.03);
	}
}
.popup-change-profile{
	position: fixed;
	inset: 0;
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
	opacity: 0;
	transition: var(--tran-03);
}
.popup-change-profile.active{
	opacity: 1;
	transform: scale(1);
}
.popup-change-profile .wrapper{
	background-color: var(--sidebar-color);
	width: 400px;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid rgb(218, 216, 216);
}
.popup-change-profile .wrapper h1{
	font-size: var(--font-size-22);
	text-align: center;
	font-weight: 600;
	color: var(--black-color);
}
.popup-change-profile .wrapper .wrapper-image{
	margin: 10px auto;
	display: flex;
	justify-content: center;
}
.popup-change-profile .wrapper .wrapper-image img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.popup-change-profile .wrapper .upload-file{
	font-size: var(--font-size-18);
	display: inline-flex;
	align-items: center;
	column-gap: 4px;
	justify-content: center;
	padding: 10px 12px;
	background-color: var(--primary-color);
	color: var(--white-color);
	border-radius: 4px;
	cursor: pointer;
}
.popup-change-profile .wrapper .upload-file i{
	font-size: var(--font-size-22);
}
.popup-change-profile .wrapper .block-upload-file{
	display: flex;
	justify-content: center;
	margin: 15px 0;
}
.popup-change-profile .wrapper .upload-file-text{
	text-align: center;
	font-size: var(--font-size-18);
	color: var(--text-color);
	margin-bottom: 20px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
}
.popup-change-profile .wrapper .input-box input[name="username"]{
	width: 100%;
	height: 40px;
	outline: none;
	border: none;
	border-bottom: 1px solid var(--black-color);
	color: var(--black-color);
	font-size: var(--font-size-16);
	padding: 0 15px 0 5px;
	font-weight: 500;
	border-radius: 3px;
	background-color: transparent;
}
.popup-change-profile .wrapper .input-box .message{
	opacity: 0;
	font-size: var(--font-size-16);
	visibility: hidden;
	transition: var(--tran-03);
	color: rgb(220, 41, 41);
	margin-top: 10px;
}
.popup-change-profile .wrapper .input-box.error .message{
	opacity: 1;
	visibility: visible;
}
.popup-change-profile .wrapper input[type="submit"]{
	width: 100%;
	height: 40px;
	color: var(--white-color);
	background-color: var(--primary-color);
	font-size: var(--font-size-16);
	border: none;
	outline: none;
	margin-top: 20px;
	border-radius: 4px;
	transition: var(--tran-03);
	cursor: pointer;
	&:hover{
		transform: scale(1.03);
	}
}
.popup-show-ranking-subject{
	position: fixed;
	inset: 0;
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: var(--tran-03);
	transform: scale(0);
	opacity: 0;
}
.popup-show-ranking-subject.active{
	transform: scale(1);
	opacity: 1;
}
.popup-show-ranking-subject .wrapper{
	background-color: var(--sidebar-color);
	width: 900px;
	height: 500px;
	box-shadow: 0 0 12px 2px rgb(211, 211, 211);
	border-radius: 4px;
	padding: 20px;
	overflow: hidden;
}
.popup-show-ranking-subject .wrapper .block{
	height: 100%;
}
.popup-show-ranking-subject .wrapper header{
	border-bottom: 1px solid var(--black-color);
}
.popup-show-ranking-subject .wrapper header h1{
	font-size: var(--font-size-18);
	font-weight: 600;
	margin-bottom: 10px;
}
.popup-show-ranking-subject .wrapper header .item{
	display: grid;
	grid-template-columns: 150px repeat(4,1fr);
	column-gap: 10px;
	margin-bottom: 5px;
	place-items: center center;
}
.popup-show-ranking-subject .wrapper header .item p{
	font-size: var(--font-size-16);
	font-weight: 500;
}
.popup-show-ranking-subject .wrapper .content{
	margin-top: 10px;
	display: grid;
	row-gap: 20px;
	height: 100%;
	overflow: auto;
	padding-bottom: 60px;
}
.popup-show-ranking-subject .wrapper .content::-webkit-scrollbar{
	width: 7px;
}
.popup-show-ranking-subject .wrapper .content::-webkit-scrollbar-thumb{
	background-color: var(--text-color);
	border-radius: 6px;
}
.popup-show-ranking-subject .wrapper .content .item{
	display: grid;
	grid-template-columns: 150px repeat(4,1fr);
	column-gap: 10px;
	place-items: center center;
}
.popup-show-ranking-subject .wrapper .content .item .wrapper-image{
	width: 70px;
	height: 70px;
}
.popup-show-ranking-subject .wrapper .content .item .wrapper-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}
.popup-show-ranking-subject .wrapper .content .item p{
	font-size: var(--font-size-16);
}
.popup_authorization {
	position: fixed;
	inset: 0;
	z-index: 11;
	transition: var(--tran-03);
	display: grid;
	place-items: center;
	backdrop-filter: blur(5px);
	transform: scale(0);
	opacity: 0;
}
.popup_authorization.active{
	transform: scale(1);
	opacity: 1;
}
.popup_authorization .popup {
	padding: 40px;
	max-width: 500px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 0 12px 2px rgb(212, 212, 212);
}

.popup_authorization .popup .wrapper_icon {
	margin: 0 auto;
	background-color: rgb(255, 216, 216);
	height: 80px;
	width: 80px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup_authorization .popup .wrapper_icon i {
	font-size: 3.0rem;
	color: rgb(215, 70, 70);
	transition: .3s ease-in-out;
}

.popup_authorization .popup .wrapper_icon i:nth-child(1) {
	display: block;
}

.popup_authorization .popup .wrapper_icon i:nth-child(2) {
	display: none;
}

.popup_authorization .popup .wrapper_icon i:nth-child(1).unlock {
	display: none;
}

.popup_authorization .popup .wrapper_icon.unlock {
	background-color: rgba(82, 120, 255, 0.224);
}

.popup_authorization .popup .wrapper_icon i:nth-child(2).unlock {
	display: block;
	color: rgb(82, 120, 255);
}

.popup_authorization .popup .title {
	font-size: 3.0rem;
	text-align: center;
	margin: 20px 0;
	font-weight: 600;
}

.popup_authorization .popup ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	column-gap: 20px;
	row-gap: 20px;
}

.popup_authorization .popup ul li {
	border: 1px solid rgb(218, 218, 218);
	font-size: 2.0rem;
	text-align: center;
	padding: 12px 16px;
	border-radius: 8px;
	cursor: pointer;
	transition: .3s ease-in-out;

	&:hover {
		border: 1px solid rgb(110, 170, 255);
	}
}

.popup_authorization .popup ul li.selected {
	background-color: rgb(64, 121, 202);
	color: white;
}

.popup_authorization .popup .confirm {
	position: relative;
	background-color: rgb(237, 237, 237);
	font-size: 2.0rem;
	text-align: center;
	margin-top: 20px;
	padding: 12px 0;
	color: gray;
	cursor: not-allowed;
	border-radius: 10px;
	overflow: hidden;
	transition: var(--tran-03);
}
.popup_authorization .popup .confirm.active{
	background-color: var(--primary-color);
	color: var(--white-color);
	cursor: pointer;
}
/* .expand .tab.subject-management{
} */
.expand .tab.subject-management .own-subject{
	background-color: var(--sidebar-color);
	transition: var(--tran-03);
	padding: 20px;
	border-radius: 10px;
	border: 1px solid rgb(227, 226, 226);
	height: 89vh;
	overflow: hidden;
}
.expand .tab.subject-management .own-subject .block{
	height: 100%;
}
.expand .tab.subject-management .own-subject .block .content{
	height: 100%;
	overflow: auto;
	padding-right: 20px;
}
.expand .tab.subject-management .own-subject .block .content::-webkit-scrollbar{
	width: 7px;
}
.expand .tab.subject-management .own-subject .block .content::-webkit-scrollbar-thumb{
	background-color: var(--text-color);
	border-radius: 6px;
}
.expand .tab.subject-management .own-subject header{
	border-bottom: 1px solid var(--black-color);
	padding-bottom: 20px;
	transition: var(--tran-03);
}
.expand .tab.subject-management .own-subject header h1{
	font-size: var(--font-size-22);
	font-weight: 600;
	transition: var(--tran-03);
	color: var(--black-color);
}
.expand .tab.subject-management .own-subject header h1 span{
	color: var(--text-color);
	font-size: var(--font-size-22);
	transition: var(--tran-03);
	font-weight: 500;
}
.expand .tab.subject-management .own-subject .content{
	margin-top: 20px;
}
.expand .tab.subject-management .own-subject .content .item{
	border: 1px solid var(--black-color);
	padding: 20px;
	border-radius: 10px;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	place-items: center center;
	cursor: pointer;
	margin-bottom: 20px;
}
.expand .tab.subject-management .own-subject .content .item .wrapper-image{
	width: 300px;
	height: 200px;
}
.expand .tab.subject-management .own-subject .content .item .wrapper-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 4px;
}
.expand .tab.subject-management .own-subject .content .item .content-subject{
	display: grid;
	row-gap: 6px;
}
.expand .tab.subject-management .own-subject .content .item .content-subject .create_at{
	font-size: var(--font-size-16);
	color: var(--black-color);
	font-weight: 500;
	transition: var(--tran-03);
}
.expand .tab.subject-management .own-subject .content .item .content-subject .title{
	font-size: var(--font-size-20);
	color: var(--black-color);
	font-weight: 600;
	transition: var(--tran-03);
	height: 50px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.expand .tab.subject-management .own-subject .content .item .content-subject .description{
	font-size: var(--font-size-18);
	color: var(--text-color);
	transition: var(--tran-03);
	height: 90px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}
.expand .tab.subject-management .own-subject .content .item .info{
	display: grid;
	row-gap: 10px;
}
.expand .tab.subject-management .own-subject .content .item .info p{
	font-size: var(--font-size-16);
	color: var(--black-color);
	transition: var(--tran-03);
	display: flex;
	align-items: center;
	column-gap: 5px;
}
.expand .tab.subject-management .own-subject .content .item .info p span{
	font-size: var(--font-size-16);
	color: var(--text-color);
	transition: var(--tran-03);
}