:root {
	--body-color: #E4E9F7;
	--sidebar-color: #FFF;
	--primary-color: #695CFE;
	--attention-color: #695CFE;
	--primary-color-light: #F6F5FF;
	--popup-header:rgb(245, 245, 245);
	--toggle-color: #DDD;
	--mark-color:#FFF;
	--text-color: #707070;
	--black-color: black;
	--cancel-color: #F63939;
	--shadow-color: rgba(0,0,0,0.1);
	--font-size-14: 1.4rem;
	--font-size-16: 1.6rem;
	--font-size-18: 1.8rem;
	--font-size-20: 2.0rem;
	--font-size-22: 2.2rem;
	--font-size-30: 3.0rem;
	--font-size-40: 4.0rem;
	--tran-01: all .1s ease;
	--tran-02: all .2s ease;
	--tran-03: all .3s ease;
	--tran-04: all .4s ease;
	--tran-05: all .5s ease;
}


body.dark {
	--black-color: white;
	--body-color: #18191A;
	--sidebar-color: #242526;
	--primary-color: #3A3B3C;
	--primary-color-light: #3A3B3C;
	--toggle-color: #FFF;
	--text-color: #CCC;
	--mark-color:#FFF;
	--attention-color: #958bff;
	--popup-header:rgb(129, 129, 129);
	--shadow-color: rgba(247, 247, 247, 0.201);
}
body {
	height: 100vh;
	background-color: var(--body-color);
	transition: var(--tran-05);
}
section::-webkit-scrollbar{
	display: none;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: "Inter", sans-serif;
}

aside {
	position: fixed;
	width: 260px;
	height: 100%;
	top: 0;
	left: 0;
	padding: 10px 14px;
	background-color: var(--sidebar-color);
	transition: var(--tran-05);
}

aside.close {
	width: 88px;
}

aside .menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100% - 50px);
}

aside header {
	display: flex;
	align-items: center;
	position: relative;
}

aside header .logo {
	height: 50px;
	min-width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--tran-02);
}

aside.close header .logo {
	opacity: 0;
}

aside header .logo img {
	width: 40px;
}

aside header .title {
	font-size: var(--font-size-22);
	font-weight: 500;
	white-space: nowrap;
	transition: var(--tran-02);
	color: var(--black-color);
}

aside.close header .title {
	opacity: 0;
}

aside header .toggle {
	height: 50px;
	width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

aside header .toggle i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0px;
	font-size: var(--font-size-40);
	margin-bottom: -2px;
	color: var(--black-color);
	transition: var(--tran-03);
	cursor: pointer;

}
aside.close header .toggle i{
	right: 9px;
}
aside header .toggle i.open {
	opacity: 0;
}

aside.close .toggle i.open {
	opacity: 1;
}

aside.close .toggle i.close {
	opacity: 0;
}

aside li {
	list-style-type: none;
	height: 50px;
	width: 100%;
	display: flex;
	margin-bottom: 15px;
	transition: var(--tran-03);
	border-radius: 6px;
	overflow: hidden;
	cursor: pointer;
}
aside ul li.mark, 
aside ul li.mark span, 
aside ul li.mark .icon{
	background-color: var(--primary-color);
	color: var(--mark-color);
}

aside ul li:hover .icon,
aside ul li:hover span {
	color: var(--sidebar-color);
	background-color: var(--primary-color);
}

body.dark aside ul li:hover .icon,
body.dark aside ul li:hover span {
	color: var(--toggle-color);
}

aside li .icon {
	height: 50px;
	min-width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--font-size-40);
	color: var(--text-color);
	transition: var(--tran-03);
}

aside li.search-box {
	background-color: var(--primary-color-light);
	transition: var(--tran-02);
}

aside li.search-box input {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: var(--font-size-18);
	background-color: transparent;
	color: var(--black-color);
}


aside li.search-box input::-webkit-input-placeholder {
	font-size: var(--font-size-16);
}

aside li span {
	width: 100%;
	font-size: var(--font-size-16);
	line-height: 50px;
	color: var(--text-color);
	transition: var(--tran-03);

	&:hover {
		color: var(--sidebar-color);
	}
}
aside.close li span{
	opacity: 0;
}
aside .menu-tab {
	margin-top: 25px;
}

aside .information .profile {
	background-color: var(--primary-color-light);
	height: 60px;
	display: flex;
	border-radius: 6px;
	transition: var(--tran-02);

}

aside .information .profile .user_image {
	height: 100%;
	min-width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 8px;
}

aside .information .profile .user_image img {
	width: 100%;
	height: 100%;
	border-radius: 6px;
}

aside .information .profile .infor {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

aside .information .profile .infor span {
	font-size: var(--font-size-14);
	width: 112px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: var(--tran-03);
	-webkit-user-select: none;
	user-select: none;
}

aside .information .profile .infor .name {
	font-weight: 500;
	font-size: var(--font-size-16);
	color: var(--black-color);
}
aside.close .information .profile .infor .name, 
aside.close .information .profile .infor .major{
	opacity: 0;
} 
aside .information .profile .infor .major {
	color: var(--text-color);
}
aside.close .information .profile .logout{
	opacity: 0;
}
aside .information .profile .logout {
	min-width: 60px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--tran-02);
}

aside .information .profile .logout i {
	font-size: var(--font-size-30);
	color: var(--cancel-color);
	cursor: pointer;
}

aside .information .mode-switch {
	position: relative;
	display: flex;
	height: 60px;
	background-color: var(--primary-color-light);
	margin-bottom: 10px;
	border-radius: 6px;
	transition: var(--tran-02);
}

aside .information .mode-switch .moon-sun {
	position: relative;
	min-width: 60px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--font-size-40);
}

aside .information .mode-switch .moon-sun .sun {
	opacity: 0;
}

body.dark aside .information .mode-switch .moon-sun .sun {
	opacity: 1;
}

body.dark aside .information .mode-switch .moon-sun .moon {
	opacity: 0;
}

aside .information .mode-switch .moon-sun i {
	position: absolute;
	color: var(--text-color);
	transition: var(--tran-02);
}
aside.close .information .mode-switch .type, 
aside.close .information .mode-switch .moon-sun i{
	opacity: 0;
}
aside .information .mode-switch .type {
	line-height: 60px;
	font-size: var(--font-size-16);
	color: var(--text-color);
	transition: var(--tran-02);
}

aside .information .mode-switch .wrapper_mode-switch {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	height: 25px;
	min-width: 50px;
	background-color: var(--toggle-color);
	border-radius: 15px;
	cursor: pointer;
	transition: var(--tran-02);
}
aside.close .information .mode-switch .wrapper_mode-switch{
	right: 5px;
}
aside .information .mode-switch .wrapper_mode-switch .switch {
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);
	background-color: var(--sidebar-color);
	height: 15px;
	width: 15px;
	border-radius: 50%;
	transition: var(--tran-03);
}

body.dark aside .information .mode-switch .wrapper_mode-switch .switch {
	left: 75%;

}
section{
	width: calc(100% - 260px);
	position: relative;
	top: 0;
	left: 260px;
	transition: var(--tran-05);
	height: 100%;
	overflow: auto;
	padding: 15px 20px;
}

aside.close + section{
	width: calc(100% - 88px);
	left: 88px;
}
section .tabs{
	max-width: 100%;
	margin: 0 auto;
}
section .tabs header{
	height: 80px;
	background-color: var(--sidebar-color);
	border-radius: 8px;
	transition: var(--tran-05);
	overflow: hidden;
	display: flex;
	align-items: center;
	padding: 20px;
	column-gap: 40px;
}
section .tabs header h1{
	font-size: 1.7rem;
	font-weight: 600;
	color: var(--black-color);
	transition: var(--tran-03);
	-webkit-user-select:none;
	user-select: none;
}
section .tabs header h1 span{
	font-size: 1.7rem;
	color: var(--attention-color);
	transition: var(--tran-03);
}
section .stand-line{
	height: 55%;
	width: 2.5px;
	background-color: var(--black-color);
	transition: var(--tran-03);
}
section .wrapper-user{
	background-color: var(--sidebar-color);
	transition: var(--tran-05);
	margin-top: 25px;
	padding: 20px;
	border-radius: 8px;
	height: 610px;
}
section .wrapper-user .wrapper-filter{
	display: flex;
	column-gap: 20px;
	justify-content: space-between;
}
section .wrapper-user .wrapper-filter .filter{
	display: flex;
	column-gap: 12px;
}
section .wrapper-user .wrapper-filter .filter .input-box{
	height: 40px;
	width: 200px;
    box-shadow: 0 0 5px var(--shadow-color);
	transition: var(--tran-05);
    border-radius: 8px;
	overflow: hidden;
}
section .wrapper-user .wrapper-filter .filter .input-box input{
	background: var(--sidebar-color);
	transition: var(--tran-05);
	
	color: var(--black-color);
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	font-size: 1.6rem;
	padding: 0px 15px 0 5px;
}
.select-menu{
    width: 250px;
	position: relative;
}
.select-menu .select-btn{
    display: flex;
    height: 35px;
    background: var(--sidebar-color);
    box-shadow: 0 0 5px var(--shadow-color);
    padding: 20px;
    font-size: 2.4rem;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
	transition: var(--tran-05);
	color: var(--black-color);

}
.select-btn i{
    font-size: 25px;
    transition: var(--tran-05);
}

.select-menu .options{
    position: absolute;
	top: calc(100% + 10px);
    padding: 20px;
    border-radius: 8px;
    background:var(--sidebar-color);
	color: var(--black-color);
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
	width: 100%;
	max-height: 240px;
	overflow: auto;
}
.select-menu .options::-webkit-scrollbar{
	display: none;
}

.options .option{
    display: flex;
    height: 40px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
	transition: var(--tran-03);
}
.option i{
	font-size: 25px;
    margin-right: 12px;
}
.option .option-text{
	font-size: 1.6rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	transition: var(--tran-03);
	color: var(--text-color);
	
}
.options .option:hover, 
.options .option:hover .option-text{
	background: var(--primary-color);
	color: var(--mark-color);
}
section .wrapper-user .switch{
	display: flex;
	align-items: center;
	height: 40px;
	margin-bottom: 20px;
	column-gap: 12px;
	position: relative;
}
section .wrapper-user .switch .line{
	position: absolute;
	height: 3px;
	background-color: var(--attention-color);
	top: 100%;
	border-radius: 12px;
	transition: var(--tran-03);
}
section .wrapper-user .switch .role{
	font-size: 1.8rem;
	font-weight: 500;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: var(--black-color);
	transition: var(--tran-03);
}
section .wrapper-user .switch .role i{
	font-size: 1.8rem;
	margin-right: 4px;
}
/* section .tabs main{
} */
section .tabs main .wrapper-content{
	padding: 10px 20px;
	border-radius: 6px;
	border: 2px solid var(--toggle-color);
	transition: var(--tran-05);

}


section .tabs main .wrapper-content .title{
	display: grid;
	grid-template-columns: auto 1.3fr 1.3fr 1.7fr 1fr 1.5fr .7fr repeat(3,.5fr);
	place-items: center start;
	column-gap: 10px;
	margin-bottom: 20px;
}
section .tabs main .switch-active .wrapper-content.lecturer .title{
	display: grid;
	grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr .7fr repeat(4,.45fr);
	place-items: center start;
	column-gap: 5px;
	margin-bottom: 20px;
}
section .tabs main .switch-active .wrapper-content.lecturer .content .item{
	display: grid;
	grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr .7fr repeat(4,.45fr);
	place-items: center start;
	column-gap: 5px;
}
section .tabs main .title input[type='checkbox']{
	transform: scale(1.4) translateY(1px);
	margin-right: 10px;
	cursor: pointer;
	accent-color:var(--attention-color);
	transition: var(--tran-05);
}
section .tabs main .title p{
	font-size: 1.7rem;
	font-weight: 600;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: var(--black-color);
	transition: var(--tran-05);
	overflow: hidden;
	width: 100%;
}
section .tabs main .switch-active .content{
	display: grid;
	row-gap: 20px;
}

section .tabs main .switch-active .wrapper-content .content .item{
	display: grid;
	grid-template-columns: auto 1.3fr 1.3fr 1.7fr 1fr 1.5fr .7fr repeat(3,.5fr);
	place-items: center start;
	column-gap: 10px;
}
section .tabs main .switch-active .content .item p.icon{
	display: flex;
	align-items: center;
	justify-content: center;
}
section .tabs main .switch-active .content .item p.icon i, 
.admin .tabs .courses .container .item-courses.course .content p.icon i{
	font-size: 2.5rem;
	cursor: pointer;
	transition: var(--tran-03);
}
section .tabs main .switch-active .content .item p.icon i.status-unlock{
	color: var(--attention-color);
}
section .tabs main .switch-active .content .item p.icon i.status-lock{
	color:gray;
}
section .tabs main .switch-active .content .item p.icon i.edit, 
.admin .tabs .courses .container .item-courses.course .content p.icon i.edit{
	color: rgb(37, 215, 70);
}
section .tabs main .switch-active .content .item p.icon i.trash, 
.admin .tabs .courses .container .item-courses.course .content p.icon i.trash{
	color: rgb(224, 49, 39);
}
section .tabs main .switch-active .panigation{
	list-style: none;
	margin-top: 15px;
}
section .tabs main .switch-active .panigation ul li{
	height: 40px;
	width: 40px;
	font-size: 1.7rem;
	background-color: var(--toggle-color);
	color: var(--sidebar-color);
	transition: var(--tran-05);
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	display: inline-block;
	margin: 0 4px;
}
section .tabs main .switch-active .panigation ul li.active{
	color: var(--body-color);
	background-color: var(--attention-color);
}
section .tabs main .switch-active .panigation button{
	display: inline-flex;
	align-items: center;
	font-size: 1.8rem;
	font-weight: 500;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	color: var(--black-color);
	transition: var(--tran-03);
}
section .tabs main .switch-active .panigation button i{
	font-size: 1.8rem;
	margin: 0 5px;
}
section .tabs main .switch-active .panigation .btn1{
	margin-right: 15px;
}
section .tabs main .switch-active .panigation .btn2{
	margin-left: 15px;
}
section .tabs main .switch-active .panigation .btn2 i{
	transform: rotate(180deg);
}
section .tabs main .switch-active .panigation ul{
	display: inline-block;
}
section .tabs main .switch-active .content .item .wrapper-image-account{
	display: flex;
	align-items: center;
	column-gap: 8px;
	overflow: hidden;
	width: 100%;
}
section .tabs main .switch-active .content .item .wrapper-image-account .account{
	font-size: 1.7rem;
	color: var(--black-color);
	transition: var(--tran-05);
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
section .tabs main .switch-active .content .item .wrapper-image-account .image{
	width: 60px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: 4px;
}
section .tabs main .switch-active .content .item .wrapper-image-account .image img{
	width: 100%;
	object-fit: cover;
}
section .tabs main .switch-active .content .item .select-all input[type='checkbox']{
	transform: scale(1.4) translateY(1px);
	cursor: pointer;
	accent-color:var(--attention-color);
	transition: var(--tran-05);
	margin-right: 10px;

}
section .tabs main .switch-active .content .item p{
	font-size: 1.7rem;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: var(--black-color);
	transition: var(--tran-05);
}
.main.popup-edit{
	position: fixed;
	inset: 0;
	backdrop-filter: blur(5px);
	display: grid;
	place-items: center;
	transform: scale(0);
	z-index: 11;
}
.main.popup-edit .wrapper{
	box-shadow: 0 0 12px 2px var(--shadow-color);
	width: 550px;
	transform: scale(0);
}
.main.popup-edit .wrapper header{
	padding: 30px 30px 0;
	background-color: var(--popup-header);
}
.main.popup-edit .wrapper header h1{
	font-size: 2.5rem;
	font-weight: 600;
	margin-bottom: 30px;
	color: var(--black-color);
}
.main.popup-edit .wrapper header .switch{
	display: flex;
	column-gap: 30px;
}
.main.popup-edit .wrapper header .switch p{
	color: var(--black-color);
	transform: translateY(-10px);
	font-size: 1.4rem;
	font-weight: 500;
}
.main.popup-edit .wrapper .content{
	padding: 50px 30px 50px;
	background-color: var(--sidebar-color);
}
.main.popup-edit .wrapper .content form .update-form{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
	column-gap: 20px;
	row-gap: 40px;
}
.main.popup-edit .wrapper .content form input[type='submit']{
	margin: 30px auto 0;
	color: var(--mark-color);
	background-color: var(--primary-color);
	border: none;
	outline: none;
	padding: 12px 16px;
	font-size: 1.6rem;
	border-radius: 3px;
	display: block;
	cursor: pointer;
	transition: var(--tran-05);
	&:hover{
		transform: scale(1.1);
	}
}
.main.popup-edit .wrapper .content form .input-box{
	width: 100%;
	height: 40px;
	position: relative;
}
.main.popup-edit .wrapper .content form .input-box .message{
	opacity: 0;
	font-size: 1.4rem;
	transition: var(--tran-03);
}
.main.popup-edit .wrapper .content form .input-box.error .message{
	color: #F63939;
	opacity: 1;
}
.main.popup-edit .wrapper .content form .input-box.select select{
	font-size: 1.6rem;
    padding: 8px 12px;
	width: 100%;
	height: 100%;
    border-radius: 4px;
    background-color: transparent;
    color: var(--black-color);
    cursor: pointer;
	outline: none;
}
.main.popup-edit .wrapper .content form .input-box label{
	font-size: 1.4rem;
	position: absolute;
	top: -25px;
	left: 0;
	color: var(--black-color);
}
.main.popup-edit .wrapper .content form .input-box input{
	width: 100%;
	height: 100%;
	border: 1px solid var(--text-color);
	outline: none;
	border-radius: 4px;
	font-size: 1.8rem;
	color: var(--black-color);
	padding: 0 15px 0 5px;
	background-color: transparent;
}
.pending {
	position: fixed;
	inset: 0;
	background-color: white;
	z-index: 9999;
	transition: all .3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
}
.pending.active{
	opacity: 1;
	visibility: visible;
}
.pending .wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -100px;
	width: 200px;
	height: 200px;
	background-color: transparent;
	border: none;
}

.pending .wrapper .box-wrap {
	width: 70%;
	height: 70%;
	margin: calc((100% - 70%) / 2) calc((100% - 70%) / 2);
	position: relative;
	transform: rotate(-45deg);
}

.pending .wrapper .box-wrap .box {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(135, 0, 0, 0.6);
	background: linear-gradient(to right,
			#141562,
			#486fbc,
			#eab5a1,
			#8dd6ff,
			#4973c9,
			#d07ca7,
			#f4915e,
			#f5919e,
			#b46f89,
			#141562,
			#486fbc);
	background-position: 0% 50%;
	background-size: 1000% 1000%;
	visibility: hidden;
}

.pending .wrapper .box-wrap .box.one {
	animation: moveGradient 15s infinite, oneMove 3.5s infinite;
}

.pending .wrapper .box-wrap .box.two {
	animation: moveGradient 15s infinite, twoMove 3.5s 0.15s infinite;
}

.pending .wrapper .box-wrap .box.three {
	animation: moveGradient 15s infinite, threeMove 3.5s 0.3s infinite;
}

.pending .wrapper .box-wrap .box.four {
	animation: moveGradient 15s infinite, fourMove 3.5s 0.575s infinite;
}

.pending .wrapper .box-wrap .box.five {
	animation: moveGradient 15s infinite, fiveMove 3.5s 0.725s infinite;
}

.pending .wrapper .box-wrap .box.six {
	animation: moveGradient 15s infinite, sixMove 3.5s 0.875s infinite;
}

@keyframes moveGradient {
	to {
		background-position: 100% 50%;
	}
}

@keyframes oneMove {
	0% {
		visibility: visible;
		clip-path: inset(0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	14.2857% {
		clip-path: inset(0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	28.5714% {
		clip-path: inset(35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	42.8571% {
		clip-path: inset(35% 70% 35% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	57.1428% {
		clip-path: inset(35% 70% 35% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	71.4285% {
		clip-path: inset(0% 70% 70% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	85.7142% {
		clip-path: inset(0% 70% 70% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	100% {
		clip-path: inset(0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}
}

@keyframes twoMove {
	0% {
		visibility: visible;
		clip-path: inset(0% 70% 70% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	14.2857% {
		clip-path: inset(0% 70% 70% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	28.5714% {
		clip-path: inset(0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	42.8571% {
		clip-path: inset(0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	57.1428% {
		clip-path: inset(35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	71.4285% {
		clip-path: inset(35% 70% 35% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	85.7142% {
		clip-path: inset(35% 70% 35% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	100% {
		clip-path: inset(0% 70% 70% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}
}

@keyframes threeMove {
	0% {
		visibility: visible;
		clip-path: inset(35% 70% 35% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	14.2857% {
		clip-path: inset(35% 70% 35% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	28.5714% {
		clip-path: inset(0% 70% 70% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	42.8571% {
		clip-path: inset(0% 70% 70% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	57.1428% {
		clip-path: inset(0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	71.4285% {
		clip-path: inset(0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	85.7142% {
		clip-path: inset(35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	100% {
		clip-path: inset(35% 70% 35% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}
}

@keyframes fourMove {
	0% {
		visibility: visible;
		clip-path: inset(35% 0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	14.2857% {
		clip-path: inset(35% 0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	28.5714% {
		clip-path: inset(35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	42.8571% {
		clip-path: inset(70% 35% 0% 35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	57.1428% {
		clip-path: inset(70% 35% 0% 35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	71.4285% {
		clip-path: inset(70% 0 0 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	85.7142% {
		clip-path: inset(70% 0 0 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	100% {
		clip-path: inset(35% 0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}
}

@keyframes fiveMove {
	0% {
		visibility: visible;
		clip-path: inset(70% 0 0 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	14.2857% {
		clip-path: inset(70% 0 0 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	28.5714% {
		clip-path: inset(35% 0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	42.8571% {
		clip-path: inset(35% 0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	57.1428% {
		clip-path: inset(35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	71.4285% {
		clip-path: inset(70% 35% 0% 35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	85.7142% {
		clip-path: inset(70% 35% 0% 35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	100% {
		clip-path: inset(70% 0 0 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}
}

@keyframes sixMove {
	0% {
		visibility: visible;
		clip-path: inset(70% 35% 0% 35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	14.2857% {
		clip-path: inset(70% 35% 0% 35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	28.5714% {
		clip-path: inset(70% 0 0 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	42.8571% {
		clip-path: inset(70% 0 0 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	57.1428% {
		clip-path: inset(35% 0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	71.4285% {
		clip-path: inset(35% 0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	85.7142% {
		clip-path: inset(35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	100% {
		clip-path: inset(70% 35% 0% 35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}
}
.admin .tabs .courses{
	background-color: var(--sidebar-color);
	transition: var(--tran-05);
	margin-top: 25px;
	padding: 20px;
	border-radius: 8px;
	height: 610px;
}
.admin .tabs .courses .wrapper-courses-filter{
	display: flex;
	column-gap: 20px;
	justify-content: space-between;
	height: 40px;
}
.admin .tabs .courses .wrapper-courses-filter .filter-courses{
	display: flex;
	column-gap: 12px;
	font-weight: 500;
	align-items: center;
	position: relative;
}
.admin .tabs .courses .wrapper-courses-filter .filter-courses .line{
	position: absolute;
	top: calc(100%);
	width: 0%;
	left: 0;
	height: 3px;
	background-color: var(--attention-color);
	transition: var(--tran-03);
	border-radius: 12px;
}
.admin .tabs .courses .wrapper-courses-filter .filter-courses .role{
	font-size: 1.8rem;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: var(--black-color);
	transition: var(--tran-05);
}
.admin .tabs .courses .wrapper-courses-filter .filter-courses .role i{
	font-size: 1.8rem;
	margin-right: 6px;
}
.admin .tabs .courses .container{
	margin-top: 20px;
}
.admin .tabs .courses .container .item-courses.course .add-course{
	display: flex;
	justify-content: flex-end;
}
.admin .tabs .courses .container .item-courses.course .add-course .right{
	background-color: var(--primary-color);
	color: var(--mark-color);
	font-size: 1.7rem;
	padding: 12px 16px;
	border-radius: 8px;
	display: inline-flex;
	align-items: center;
	column-gap: 4px;
	transition: var(--tran-05);
	cursor: pointer;
}
.admin .tabs .courses .container .item-courses.course .add-course .right i{
	font-size: 1.8rem;
	transform: translateY(.5px);
}
.admin .tabs .courses .container .item-courses{
	border: 2px solid var(--toggle-color);
	border-radius: 6px;
	padding: 10px 20px;
}
.admin .tabs .courses .container .item-courses.course .title, 
.admin .tabs .courses .container .item-courses.course .content .item{
	display: grid;
	grid-template-columns: auto repeat(4,1fr);
	place-items: center center;
}
.admin .tabs .courses .container .item-courses.course .content{
	margin-top: 20px;
	display: grid;
	row-gap: 20px;
}
.admin .tabs .courses .container .item-courses.course .title input[type='checkbox'], 
.admin .tabs .courses .container .item-courses.course .content .item input[type='checkbox']{
	transform: scale(1.2);
	accent-color: var(--attention-color);
	cursor: pointer;
}
.admin .tabs .courses .container .item-courses.course .title p{
	font-size: 1.7rem;
	font-weight: 600;
	color: var(--black-color);
	transition: var(--tran-05);
}
.admin .tabs .courses .container .item-courses.course .content .item p{
	font-size: 1.7rem;
	color: var(--black-color);
	transition: var(--tran-05);
}
.popup-add-courses{
	backdrop-filter: blur(5px);
	background-color: rgba(236, 241, 250, 0.498);
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
	opacity: 0;
}
.popup-add-courses .wrapper{
	background-color: var(--sidebar-color);
	width: 500px;
	border-radius: 12px;
	box-shadow: 0 0 12px 2px var(--shadow-color);
	padding: 30px;
	transform: scale(0);
	opacity: 0;
}
.popup-add-courses .wrapper h1{
	font-size: 2.2rem;
	font-weight: 600;
	margin-bottom: 10px;
	-webkit-user-select:none;
	user-select: none;
	color: var(--black-color);
}
.popup-add-courses .wrapper p{
	font-size: 1.5rem;
	color: var(--text-color);
	margin-bottom: 15px;
	-webkit-user-select:none;
	user-select: none;
}
.popup-add-courses .wrapper form{
	display: flex;
	column-gap: 10px;
}
.popup-add-courses .wrapper form .input-box{
	height: 40px;
	width: 200px;
	transition: var(--tran-05);
}
.popup-add-courses .wrapper form .input-box input{
	border: 1px solid var(--black-color);
	width: 100%;
	height: 100%;
	outline: none;
	padding: 0 15px 0 5px;
	font-size: 1.6rem;
	color: var(--black-color);
	border-radius: 4px;
}
.popup-add-courses .wrapper form .input-box .message{
	opacity: 0;
	transition: var(--tran-03);
}
.popup-add-courses .wrapper form .input-box.error .message{
	color: rgb(240, 56, 56);
	font-size: 1.4rem;
	opacity: 1;
}
.popup-add-courses .wrapper form input[type='submit']{
	border: none;
	outline: none;
	background-color: var(--primary-color);
	font-size: 1.6rem;
	color: var(--mark-color);
	padding: 0 12px;
	border-radius: 4px;
	transition: var(--tran-03);
	cursor: pointer;
	&:hover{
		transform: scale(1.05);
	}
}