* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: "Inter", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px #f0f0f0 inset !important;
}

.container {
	position: relative;
	min-height: 100vh;
	width: 100%;
	background-color: white;
	overflow: hidden;
}

.container::before {
	position: absolute;
	content: "";
	width: 2000px;
	height: 2000px;
	border-radius: 50%;
	background: linear-gradient(-45deg, #4481eb, #04befe);
	top: -10%;
	right: 48%;
	transform: translateY(-50%);
	z-index: 6;
	transition: 1.8s ease-in-out;
}

.form-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.signIn-signUp {
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%, -50%);
	width: 50%;
	display: grid;
	grid-template-columns: 1fr;
	z-index: 5;
	transition: 1s .7s ease-in-out;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	grid-column: 1/2;
	grid-row: 1/2;
	padding: 0 5rem;
	overflow: hidden;
	transition: .2s .7s ease-in-out;
}

form.sign-in-form {
	z-index: 2;
}

form.sign-up-form {
	z-index: 1;
	opacity: 0;
}

.title {
	font-size: 3.5rem;
	color: #444;
	margin-bottom: 10px;
}

.input-box {
	position: relative;
	max-width: 380px;
	width: 100%;
	height: 55px;
	background-color: #f0f0f0;
	margin: 15px 0;
	border-radius: 55px;
	display: grid;
	grid-template-columns: 15% 85%;
	padding: 0 .4rem;
	/* overflow: hidden; */
}

.input-box .sub-menu {
	position: absolute;
	top: calc(100% + 8px);
	width: 90%;
	box-shadow: 0 0 12px 1px rgb(225, 225, 225);
	border-radius: 6px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	background-color: white;
	height: 130px;
	overflow: hidden;
}

.input-box .sub-menu ul {
	height: 100%;
	overflow-y: auto;
	list-style: none;
}

.input-box .sub-menu li {
	font-size: 1.8rem;
	padding: 12px 16px;
	transition: .2s ease-in-out;
	cursor: pointer;

	&:hover {
		padding-left: 20px;
		background-color: #f4f4f4;
	}
}

.input-box .message {
	opacity: 0;
	visibility: hidden;
	transition: all .2s ease-in-out;
}

.input-box input[type='file'] {
	display: none;
}

.input-box input[type='file']+label {
	font-size: 1.8rem;
	line-height: 55px;
	color: #acacac;
	cursor: pointer;
	transition: all .3s ease-in-out;
	height: 100%;
	overflow: hidden;
}

.input-box.error .message {
	visibility: visible;
	position: absolute;
	left: 25px;
	top: calc(100% + 4px);
	font-size: 1.7rem;
	color: rgb(224, 102, 102);
	-webkit-user-select: none;
	user-select: none;
	opacity: 1;
}

.input-box i {
	text-align: center;
	line-height: 55px;
	font-size: 1.8rem;
	color: #acacac;
}

.input-box input {
	background: none;
	outline: none;
	border: none;
	font-size: 1.8rem;
	color: #333;
	line-height: 1;
	font-weight: 600;
	letter-spacing: .5px;
	border-radius: 55px;
}

.input-box input::placeholder {
	color: #aaa;
	font-weight: 500;
}

.btn {
	width: 150px;
	height: 49px;
	border: none;
	outline: none;
	border-radius: 49px;
	cursor: pointer;
	background-color: rgb(82, 120, 255);
	color: white;
	text-transform: uppercase;
	font-weight: 600;
	margin: 10px 0;
	transition: .5s;
	font-size: 1.4rem;
	letter-spacing: 1px;

	&:hover {
		background-color: #4d84e2;
	}
}

.panels-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	top: 0;
	left: 0;
}

.panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	z-index: 7;
}

.panel .content {
	color: white;
	transition: .9s .6s ease-in-out;
}

.panel .content h3 {
	font-weight: 600;
	line-height: 1;
	font-size: 2.5rem;
	margin-bottom: 10px;
}

.btn.transparent {
	margin: 0;
	background-color: transparent;
	border: 2px solid white;
	width: 130px;
	height: 41px;
	font-weight: 600;
}

.left-panel {
	padding: 3rem 17% 2rem 12%;
	/* pointer-events: all; */
}

.right-panel {
	pointer-events: none;
	padding: 3rem 12% 2rem 17%;
}

.image {
	width: 100%;
	transition: 1.1s .4s ease-in-out;
}

.right-panel .content,
.right-panel .image {
	transform: translateX(800px);
}

.container.sign-up-mode::before {
	transform: translate(100%, -50%);
	right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
	transform: translateX(-800px);
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
	transform: translateX(0px);
}

.container.sign-up-mode .left-panel {
	pointer-events: none;
}

.container.sign-up-mode .right-panel {
	pointer-events: all;
}

.container.sign-up-mode .signIn-signUp {
	left: 25%;
}

.container.sign-up-mode form.sign-in-form {
	z-index: 1;
	opacity: 0;
}

.container.sign-up-mode form.sign-up-form {
	z-index: 2;
	opacity: 1;
}

@media (max-width:870px) {
	.container::before {
		width: 1500px;
		height: 1500px;
		left: 30%;
		bottom: 68%;
		transform: translateX(-50%);
		right: initial;
		top: initial;
		transition: 1.2s ease-in-out;
	}

	.signIn-signUp {
		left: 50%;
		top: 95%;
		width: 100%;
		transform: translate(-50%, -100%);
		transition: 1s .8s ease-in-out;
	}

	.panel {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		padding: 2.5rem 8%;
	}

	.image {
		width: 200px;
		transition: .9s .6s ease-in-out;
	}

	.panels-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr 1fr;
	}

	.left-panel {
		grid-row: 1/2;
	}

	.right-panel {
		grid-row: 3/4;
	}

	.right-panel .content,
	.right-panel .image {
		transform: translateY(300px);
	}

	.panel .content {
		padding-right: 15%;
		transition: .9s .8s ease-in-out;
	}

	.panel .content h3 {
		font-size: 1.8rem;
	}

	.btn.transparent {
		width: 110px;
		height: 35px;
		font-size: 1.2rem;
	}

	.container.sign-up-mode::before {
		transform: translate(-50%, 100%);
		bottom: 22%;
		right: initial;
	}

	.container.sign-up-mode .left-panel .image,
	.container.sign-up-mode .left-panel .content {
		transform: translateY(-300px);
	}

	.container .signIn-signUp {
		top: 80%;
	}

	.container.sign-up-mode .signIn-signUp {
		top: 5%;
		transform: translate(-50%, 0);
		left: 50%;
	}

}

@media (max-width:570px) {
	form {
		padding: 0 1.5rem;
	}

	.image {
		display: none;
	}

	.panel .content {
		padding: .5rem 1rem;
	}

	.container::before {
		bottom: 72%;
		left: 50%;
	}

	.container.sign-up-mode::before {
		bottom: 28%;

	}
}

/* ///////////////////////////////// */
/* sweet alert */
.swal-text {
	text-align: center;
}

.swal-icon.swal-icon--info {
	border-color: #f8c973;

	&::after {
		background-color: #f8c973;
	}

	&::before {
		background-color: #f8c973;
	}
}
.swal-modal .swal-footer .swal-button{
	letter-spacing: .5px;
	font-size: 16px;
	background-color: #45bcf4;
	font-weight: 500;
}
/* ///////////////////////////////// */